

body {
    background-color: goldenrod;
}

h1,
h2 {
    text-align: center;
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.container {
    display: none;
}

.active {
    display: block;
    margin: 0 auto;
}